/prototypeSECOB/nbproject/private/
/prototypeSECOB/node_modules/
/prototypeSECOB/.typingsrc
/prototypeSECOB/package-lock.json
/prototypeSECOB/target/
.project
.settings
*/.classpath
*/.project
*/.settings
.idea
*.iml
/target/
*/.vscode
.vscode
*/bin
.gradle
gradle
*/build
remote-profile
.nb-gradle
.nb-gradle-properties
*.DS_Store


